* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  background-color: #f3f3f3;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
:root {
  --indigo: rgb(79, 70, 229);
  --indigo-200: rgb(199 210 254);
  --white: #fff;
  --mostly-black: #222;
  --zinc-200: rgb(228, 228, 231);
  --whitish: #f3f3f3;
  --slate: rgb(203, 213, 225);
  --slate-500: rgb(100, 116, 139);
  --slate-900: rgb(15, 23, 42);
  --box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  --max-width-lg: 1240px;
  --max-width-md: 28rem;
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.hidden {
  display: none;
}

.navbar {
  width: 100%;
  background: var(--zinc-200);
  position: fixed;
  z-index: 10;
  height: 80px;
  filter: var(--drop-shadow-lg);
  font-size: 1rem;
}
.navbar-container {
  padding: 1.25rem 1.75rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navbar-mobile {
  background-color: var(--zinc-200);
  position: absolute;
  width: 100%;
  padding: 0rem 2rem;
  padding-bottom: 1rem;
  text-align: center;
}
.navbar-mobile__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navbar-mobile__list li {
  border-bottom: 2px solid rgb(199, 199, 200);
  padding: 8px 0;
  width: 100%;
  
}
.navbar-mobile__actions{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.sign-in__mobile{
  background-color: transparent;
  color: var(--indigo);
  padding: 0.75rem 0;
  border: 2px solid var(--indigo);
  border-radius: 0.375rem;
}
.sign-up__mobile{
  color: var(--whitish);
  background: var(--indigo);
  border: 2px solid var(--indigo);
  border-radius: 0.375rem;
  padding: 0.75rem 2.25rem;
  font-size: 1rem;
  font-weight: 400;
}
.nav-list {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}
.navbar-left {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}
.navbar-left h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  cursor: default;
}

.nav-left a {
  font-size: 1rem;
}
.nav-list a:hover {
  color: var(--indigo);
}
.navbar-right {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.btn {
  background: inherit;
  border: none;
  cursor: pointer;
}
.sign-in {
  font-size: 1rem;
  font-weight: 400;
  margin: 0 2rem 0 0;
}
.sign-in:hover {
  color: var(--indigo);
}
.sign-up {
  color: var(--whitish);
  background: var(--indigo);
  border: 2px solid var(--indigo);
  border-radius: 0.375rem;
  padding: 0.75rem 2.25rem;
  font-size: 1rem;
  font-weight: 400;
}
.sign-up:hover {
  background: inherit;
  color: var(--indigo);
}
.hero {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 80px 0;
}
.hero-img-container {
  background: rgba(17, 24, 39, 0.9);
  width: 100%;
  position: absolute;
}
.hero-img {
  width: 100%;
  height: 92vh;
  mix-blend-mode: overlay;
  object-fit: cover;
}
.hero-content {
  max-width: var(--max-width-lg);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  padding: 15rem 0rem;
  text-align: center;
}
.hero-content h3 {
  color: var(--slate);
  font-size: 2rem;
}
.hero-content h1 {
  margin-top: 1rem;
  font-size: 3rem;
  font-weight: 900;
}
.hero-content p {
  margin-top: 2rem;
  font-size: 1.5rem;
  color: var(--slate);
}
.btn-book {
  margin-top: 1rem;
  font-size: 1rem;
  /* border-radius: 0.375rem; */
  padding: 1rem 2rem;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--whitish);
  border-bottom: 2px solid white;

  position: relative;
}
/* .hero-boxes{
    display: flex;
    margin-top: 1.5rem;
    gap: 8rem;
    justify-content: center;
    align-items: center;
}
.hero-box-item{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f2fe;
    color: var(--mostly-black);
    max-width: 16rem;
}

.hero-box-item-img-container{
    padding: 24px;
    border-radius: 50%;
}
.hero-box-item img{
    width: 64px;
    height: 64px;
}
.hero-box-item-text h4{
    color: var(--mostly-black);
    font-size: 1.5rem;
}
.hero-box-item-text p{
    color: #6b6b84;
    font-size: 1.2rem;
} */
.about {
  padding: 8rem 2rem;
  width: 100%;
}
.about-container {
  max-width: var(--max-width-lg);
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about-container h1 {
  text-transform: capitalize;
  font-size: 3rem;
  line-height: 1rem;
  font-weight: 700;
  margin-bottom: 3.5rem;
}
.about-container p {
  color: rgb(100, 116, 139);
  font-size: 1.875rem;
  line-height: 2.25rem;
  margin-bottom: 3rem;
}
.about-details {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}
.about-details-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3rem 5rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border: 2px solid var(--slate);
  border-radius: 0.75rem;
  text-align: center;
}
.about-details-item h3:nth-child(1) {
  color: var(--indigo);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 0;
  margin-bottom: 3rem;
}
.about-details-item h3:nth-child(2) {
  font-size: 1rem;
  line-height: 0;
  color: var(--slate-500);
}
.services {
  padding: 8rem 2rem;
  width: 100%;
  background-color: var(--slate-900);
}
.services-container {
  max-width: 1480px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services h3 {
  color: var(--whitish);
  font-weight: 500;
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.services h1 {
  font-size: 3rem;
  color: var(--whitish);
  letter-spacing: 0.2rem;
  margin-bottom: 3rem;
}
.services-box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 2rem;
  row-gap: 2rem;
  justify-content: center;
  align-items: center;
  justify-items: center;
  align-content: center;
  cursor: default;
}
.service {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1.5rem;
  padding: 2rem 1rem;
  background: var(--whitish);
  text-align: start;
  color: var(--mostly-black);
  border-radius: 1rem;
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  border: 2px solid var(--zinc-200);
}
.service img {
  width: 50px;
  height: 50px;
}
.service img:nth-child(1) {
  width: 40px;
  height: 40px;
}
.serivce-img-container {
  padding: 1rem 1rem;
  border-radius: 50%;
}
.service h3 {
  color: #222;
  font-size: 2rem;
  padding-top: 12px;
  font-weight: 700;
  margin-bottom: 1rem;
}
.service p {
  color: var(--mostly-black);
  font-size: 1.375rem;
  font-weight: 500;
}
.pricing {
  padding: 4rem 2rem;
  width: 100%;
}
.pricing-container {
  max-width: var(--max-width-lg);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pricing-container h3:nth-child(1) {
  color: var(--indigo);
  font-weight: 300;
  margin-bottom: 2rem;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
.pricing-container h1 {
  font-size: 4rem;
  font-weight: 700;
  color: var(--mostly-black);
  text-transform: capitalize;
}
.pricing-container p {
  font-size: 2rem;
  color: var(--slate-500);
  margin-top: 1.5rem;
  text-align: center;
  margin-bottom: 2rem;
}
.pricing-plan-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  row-gap: 2rem;
  column-gap: 2rem;
}
.pricing-plan {
  background-color: var(--whitish);
  padding: 2rem;
  border-radius: 0.75rem;
  border: 2px solid var(--whitish);
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.plan-type {
  text-transform: uppercase;
  background-color: rgb(199 210 254);
  color: rgb(49 46 129);
  border-radius: 1rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.75rem;
}
.plan-content p {
  font-size: 2.5rem;
  line-height: 1;
  font-weight: 700;
  color: black;
  padding: 1rem 0;
  display: flex;
}
.plan-content span {
  margin-left: 0.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  align-self: flex-end;
  color: var(--slate-500);
}
.plan-content h3 {
  color: var(--slate-500);
  font-size: 1.25rem;
  line-height: 2rem;
  padding: 1rem 0;
}
.plan-content img {
  width: 32px;
  height: 32px;
  margin-right: 1rem;
}
.plan-list {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: 500;
}
.plan-list li {
  display: flex;
  padding: 0;
}
.plan-actions {
  color: var(--whitish);
  background: var(--indigo);
  border: 2px solid var(--indigo);
  border-radius: 0.375rem;
  padding: 1rem 2.25rem;
  font-size: 1rem;
  font-weight: 400;
  text-align: center;
  justify-self: center;
  width: 100%;
  margin-top: 1rem;
  font-size: 1.25rem;
}
.plan-actions:hover {
  background: inherit;
  color: var(--indigo);
}

.contact {
  width: 100%;
  height: 100vh;
  position: relative;
  padding: 80px 0;
}
.contact-img-container {
  background: rgba(17, 24, 39, 0.9);
  width: 100%;

  position: absolute;
}
.contact-img {
  width: 100%;
  height: 91vh;
  mix-blend-mode: overlay;
  object-fit: cover;
}
.contact-content {
  max-width: var(--max-width-lg);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: white;
  padding: 6rem 0rem;
  text-align: center;
}
.contact-content h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
.contact-content p {
  color: var(--slate);
  font-size: 1.5rem;
  margin-bottom: 2rem;
}
.contact-us-form-group img {
  width: 50px;
  height: 50px;
}
.contact-us-form-group h1 {
  font-size: 1.75rem;
  color: var(--slate-900);
}
.contact-us-form-group {
  max-width: var(--max-width-lg);
  padding: 2rem 2rem;
  display: flex;
  flex-direction: row-reverse;
  background-color: white;
  border-radius: 0.75rem;
  margin-top: 1rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}
.contact-us-content {
  display: flex;
  flex-direction: row-reverse;
}
.contact-us-right-group {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-width: 2px;
}
.contact-form-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 1rem;
  column-gap: 1rem;
  margin-top: 1rem;
}
.contact-form-input input {
  padding: 0.75rem 2rem;
}

.date {
  width: 14.8rem;
  height: 2.6rem;
}
.time {
  width: 14.8rem;
  height: 2.9rem;
}
.select {
  width: 14.8rem;
  padding: 0.75rem 2rem;
}

.contact-form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.btn-appointment {
  color: var(--whitish);
  background: var(--indigo);
  border: 2px solid var(--indigo);
  border-radius: 0.375rem;
  padding: 0.75rem 2.25rem;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 1.5rem;
  text-transform: capitalize;
}
.btn-appointment:hover {
  background: inherit;
  color: var(--indigo);
}
.contact-us-left-group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem;
  border-width: 2px;
  gap: 2rem;
  border-right: 2px solid var(--slate);
}
.contacts-item-left {
  padding-bottom: 2rem;
}
.contacts-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
  color: var(--mostly-black);
}
.contacts-item-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.contacts-item-right h3 {
  color: #222;
  font-size: 1rem;
  font-weight: 700;
}
.contacts-item-right p {
  color: var(--slate-500);
  font-size: 0.9rem;
  font-weight: 600;
  justify-self: flex-end;
}
.footer {
  width: 100%;
  background: var(--slate-900);
  color: rgb(209 213 219);
  padding: 2rem 1rem;
  /* border-top: 4px solid rgb(209 213 219); */

  /* border-top: 4px solid var(--slate); */
}
.footer-container {
  max-width: var(--max-width-lg);
  margin: auto;
  text-align: start;
  display: grid;
  grid-template-columns: 5;
  padding: 2rem 4rem;
  column-gap: 2rem;
  border-bottom: 2px solid rgb(209 213 219);
}

.footer-contact-us {
  grid-column: 1/2;
}
.footer ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
}
.footer-account {
  grid-column: 2/3;
}
.footer-company {
  grid-column: 3/4;
}
.footer-legal {
  grid-column: 4/5;
}
.footer-subscribe {
  grid-column: 5/6;
}
.footer-subscribe h3 {
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 1rem;
}
.subscribe-actions {
  display: flex;
  margin-top: 0.5rem;
}
.footer-subscribe p {
  margin: 1rem 0;
}
.subscribe-actions button {
  border-radius: 0.375rem;
  color: var(--whitish);
  background: var(--indigo);
  border: 2px solid var(--indigo);
  border-radius: 0.375rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
  border: none;
}
.subscribe-actions input {
  border-radius: 0.375rem;
  width: 100%;
  padding: 0.875rem;
  margin-right: 1rem;
}
.btn-subscribe:hover {
  background-color: rgb(38, 40, 157);
}
.footer-copyright {
  max-width: var(--max-width-lg);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;
}
.footer-copyright h3 {
  font-size: 1.5rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  line-height: 2.5rem;
  cursor: default;
}
.footer-copyright a {
  font-size: 1.1rem;
  color: var(--whitish);
}
.footer {
  cursor: default;
}
<<<<<<< Updated upstream
.navbar-right span {
  display: block;
  width: 35px;
  height: 10px;
  color: black;
  border-top: 3px solid black;
=======
.signup-page {
  background-color: rgb(243 244 246);
  min-height: screen;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-form {
  width: 28rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.form-container {
  background: var(--white);
  padding: 2rem 1.5rem;
  border-radius: 0.75rem;
  box-shadow: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  color: var(--mostly-black);
  width: 100%;
  border-width: 1px;
}
.signup-header {
  margin-bottom: 2rem;
  font-size: 1.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  text-align: center;
}
.signup-form input {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border-radius: 0.25rem;
  margin-bottom: 1rem;
  border: 1px solid var(--slate);
  font-size: 1rem;
}
.signup-form__btn {
  width: 100%;
  text-align: center;
  padding: 0.75rem 0;
  border-radius: 0.25rem;
  color: #fff;
  font-size: 1.25rem;
  background-color: rgb(37 99 235);
  margin-bottom: 0.5rem;
}
.signup-form__btn:hover {
  background: rgb(59 130 246);
  outline: 2px solid transparent;
}
.signup__footer {
  color: rgb(107 114 128);
  margin-top: 1.5rem;
}
.login__link {
  text-decoration: none;
  color: rgb(37 99 235);
}
.login__link:hover {
  color: rgb(59 130 246);
}
.signup__provider--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.signup__providers--container p {
  text-align: center;
  margin-bottom: 0.5rem;
}
.signup__providers {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}
.signup__providers svg:hover {
  cursor: pointer;
>>>>>>> Stashed changes
}
